.work{
    width:100% ;
    height:100vh;
    background:linear-gradient(to bottom , #d4d5d4,white)
}

.gridWorkContainer{
    display:flex;
    flex:wrap;
    justify-content:center;
}
.overflow-container{
    height:800px;
    width:800px;
    max-width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:12px;
    box-sizing: content-box;
}